<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/docs.css" />
    <title>Music Search Website Documentation</title>
  </head>

  <body>
    <section>
      <h1>Music Search Website Documentation</h1>
      <p>
        Welcome to the Music Search Website Documentation! This page provides
        detailed information on how to use our website to search for songs,
        artists, and albums, and listen to music previews. Whether you're a
        music enthusiast or just looking for your favorite tunes, our website
        has you covered.
      </p>

      <h2>Getting Started</h2>
      <p>
        To get started, simply use the search bar on the homepage to enter the
        name of a song or artist you want to find. Then click on the "Search"
        button or hit "Enter" on your keyboard. Our website will fetch the
        relevant music data from our API and display the search results on the
        same page.
      </p>

      <h2>Search Results</h2>
      <p>
        Once you perform a search, the results will be displayed below the
        search bar. Each result will include the song name, artist name, album
        name, and a cover image. Additionally, a music player will be provided
        that allows you to listen to a preview of the song.
      </p>

      <h2>Listening to Music Previews</h2>
      <p>
        To listen to a music preview, click on the play button on the music
        player. You can control the playback using the play/pause button and the
        volume slider. If you want to stop the preview, click the stop button or
        pause the preview.
      </p>

      <h2>External Music Platforms</h2>
      <p>
        If you find a song you like, you can also listen to it on external music
        platforms like Spotify and Apple Music. Each search result provides
        buttons to directly listen to the song on these platforms. Clicking on
        the respective buttons will redirect you to the song's page on the
        corresponding platform.
      </p>

      <h2>API Usage</h2>
      <p>
        If you are a developer and interested in using our API to access music
        data, you can do so by sending a GET request to the following endpoint:
      </p>
      <pre><code>GET /api/v1/search/:name</code></pre>
      <p>
        Replace <code>:name</code> with the song or artist name you want to
        search for. The API will respond with an array of songs matching the
        search query, each containing information like the track name, artist
        name, album name, cover URL, and music preview URL.
      </p>

      <h2>Support</h2>
      <p>
        For any questions or assistance, please don't hesitate to contact our
        support team. Happy music searching!
      </p>
    </section>
  </body>
</html>
